<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
<<<<<<< HEAD
  <%= render @users %>
</ul>
=======
    <%= render @users %>
</ul>

>>>>>>> updating-users
<%= will_paginate %>